# IntelliJ / VS Code
.idea/


# Logs
*.log



# Build
target/
build/

# Config files
*.yaml
*.yml
*.properties
.env

# Dependency folders
**/node_modules/
# Nhưng không ignore frontend folder
!frontend-micro/
!frontend-micro/**
frontend-micro/node_modules/
frontend-micro/dist/